body {
		background-image: url("images/geometric2.jpg");
		background-repeat: no-repeat;
    background-attachment: fixed;
		font-weight: 300;
}

h3 {
		text-align:center;
		cursor: pointer; cursor: hand;
}

p {
		font-size: 120%;
}

a {
  font-size: 120%;
}

.centertext {
  text-align:center;
}

.centerimg {
  margin: 0 auto;
}

.horizontal {
  width: 100%; 
  color: black; 
  height: 1px; 
  background-color:#989898 ;
}

.center-div
{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 50%;
  border-radius: 3px;
}

.page {
	background-color: #F0F0F0;
	
}

#imageBox {
	padding-right: 0;
  padding-left: 0;
}

#navBar h3 {
   color:white;
}

#navBar h3:hover { 
    text-shadow: 2px 2px #404040;
}

